<%- include("header") -%>
<div class="container">
  <div class="box" id="heading">
    <!-- <h1><%= listTitle %></h1> -->
  </div>

  <%- include("form") -%>
<hr />
  <div class="box">
    <table class="table my-5">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Description</th>
          <th scope="col">Amount</th>
          <th scope="col">Due date</th>
          <th scope="col">Paid</th>
          <th scope="col">Payment method</th>
          <th scope="col">Payment date</th>
          <th scope="col">Payment reason</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i=0; i<newListFees.length; i++){%>
        <tr class="fee">
          <td>
            <%= newListFees[i].feeId%>
          </td>
          <td>
            <%= newListFees[i].feeDesc%>
          </td>
          <td>
            <%= newListFees[i].feeAmount%>
          </td>
          <td>
            <%= newListFees[i].feeDueDate%>
          </td>
          <td>
            <% if (newListFees[i].feePaid === "on") {%>
            <input type="checkbox" name="" value="true" checked>
            <% } else { %>
            <input type="checkbox" name="" value="false">
            <% } %>
          </td>
          <td>
            <%= newListFees[i].feePaymentMethod%>
          </td>
          <td>
            <%= newListFees[i].feePaymentDate%>
          </td>
          <td>
            <%= newListFees[i].feePaymentReason%>
          </td>
        </tr>
        <%}%>
      </tbody>
    </table>


  </div>
</div><!-- / container-->
<%- include("footer") -%>
