<%- include("header") -%>
<div class="container">
  <div class="box" id="heading">
    <h1><%= listTitle %></h1>
  </div>

  <%- include("form") -%>
  <hr />

  <div class="box">
    <table class="table my-5">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Description</th>
          <th scope="col">Amount</th>
          <th scope="col">Due date</th>
          <th scope="col">Paid</th>
          <th scope="col">Payment method</th>
          <th scope="col">Payment date</th>
          <th scope="col">Payment reason</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <% for (let i=0; i<feeList.length; i++){%>
        <tr id="tr_<%= i %>" class="fee">
          <td class="text-right">
            <%= feeList[i].feeId %>
          </td>
          <td>
            <%= feeList[i].feeDescription %>
          </td>
          <td class="text-right">
            <%= feeList[i].feeAmount %>€
          </td>
          <td class="text-right">
            <%= feeList[i].feeDueDate.toLocaleDateString('en-GB') %>
          </td>
          <td>
            <% if (feeList[i].feePaid === "on") {%>
            <%= alreadyPaid = alreadyPaid + feeList[i].feeAmount %>
            <input type="checkbox" name="" value="true" checked>
            <style>
              #tr_<%=i%> {
                background: beige;
              }
            </style>
            <% } else { %>
            <input type="checkbox" name="" value="false">
            <% } %>
          </td>
          <td>
            <%= feeList[i].feePaymentMethod %>
          </td>
          <td class="text-right">
            <%= feeList[i].feePaymentDate.toLocaleDateString('en-GB') %>
          </td>
          <td>
            <%= feeList[i].feePaymentReason %>
          </td>
          <td>
            <form class="" action="/delete" method="post">
              <button class="delete-btn" type="submit" value="<%= feeList[i]._id %>" name="deleteBtn">
                <span class="material-symbols-outlined">
                  delete
                </span>
              </button>
            </form>
          </td>
        </tr>
        <%}%>
      </tbody>
    </table>
    <p>
      Paid: <%= alreadyPaid %>€
    </p>

  </div>
</div><!-- / container-->

<%- include("footer") -%>
